.project-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.project-item-container  > h3 > span{
  font-size: 3vh;
  background-color: black;
  display: inline-block;
}

.project-desc{
  background-color: black;
}

.project-video {
  display: flex;
  justify-content: center;
  width: 100%;

}

.links {
  display: flex;
  justify-content: space-around;
}

.link-button {
  display: inline-block;
  padding: 15px 15px 0px 15px;
  cursor: pointer;
  text-decoration: none;
}

.link-button:hover {
  cursor: pointer;
  box-shadow: none;
  position: relative;
  top: 0.3em;
}

.tools-used {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tools-used > * {
  margin-left: 10px;
}

@media screen and (max-width: 760px) {
	.project-item-container > h3 > span {
		font-size: 2.8vh;
	}
  .project-item-container {
    width: 70%;
  }

}

@media screen and (min-width: 300px) and (max-width: 480px) {
	.project-item-container > h3 > span {
		font-size: 2.5vh;
	}
  .project-item-container {
    width: 80%;
  }
}


