.blog-item-container {
  background-color: white;
  margin: 10px;
  cursor: pointer;
  
}

.blog-item-container > * {
  margin: 10px;
  text-align: left;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100%;
}

.blog-item-container > .imgDiv{
  height: 50px;
	padding: 10px;
	border-radius: 5px;
  display: flex;
	background-size: auto;
}

.blog-item-container > .imgDiv >img{
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.blog-item-container > p > a {
  color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
