.blog-item-container {
  background-color: rgb(27, 25, 25);
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  
}
.blog-item-container:hover {
  border: 3px solid white;
}

.blog-item-container > * {
  margin: 10px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 100%;
}

.blog-item-container > .imgDiv{
  height: 50px; 
	padding: 10px;
	border-radius: 5px;
  display: flex;
	background-size: auto;
}
.desc > *{
  margin-left: 20px;
  
  font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 0%;
}

.desc > p{
  font-size: smaller;
  color: white;
}

.desc > span{
  font-size: x-small;
  color: rgb(170, 170, 170);
}

.blog-item-container > .imgDiv >img{
	border-radius: 50%;
	object-fit: cover;
}

.blog-item-container > p > a {
  color: rgb(174, 174, 247);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog-item-container > p > a:hover {
  color: white;
}
.blog-item-container > h4{
  font-size: 28px;
}

.tag{
  background-color: white;
  float: left;
  width:fit-content;
  text-align: center;
  border-radius: 3px;
}

.tag>span{
  padding: 4px;
  text-align: center;
  color: rgb(27, 25, 25);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


