.Modal {
}
.Modal-content {
}

.Modal-content > p {
  color: black;
}

.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

@media screen and (max-width: 760px) {
  .popup-container {
    width: 70%;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .popup-container {
    width: 70%;
  }
}
