.cheer-container{
    display: flex;
    justify-content: center;
}
.player{
    display: flex;
    flex-direction: row;
}
.player > * {
    margin: 10px;
    cursor: pointer;
    background-color: rgb(107, 105, 105);
    border: 0px solid white;
    border-radius: 5px;
    padding: 5px;
}

.player > *:hover{
    border: 2px solid white;
    border-radius: 5px;
}
.cheer-up{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.cheer-up > img {
    cursor: pointer;
    margin-top: 0;
    /* margin-left: 20px; */
    width: 70px;
    height: 70px;
}

.cheer-up > button {
    cursor: pointer;
    margin-top: 20px;
    height: 30px;
    font-size: 1vh;
    text-decoration: underline;
    color: black;
}
