.cheer-container{
    display: flex;
    justify-content: center;
}
.player{
    display: flex;
    flex-direction: row;
}
.player > * {
    margin: 10px;
    cursor: pointer;
    background-color: rgb(107, 105, 105);
    border: 0px solid white;
    border-radius: 5px;
    padding: 5px;
}

.player > *:hover{
    border: 2px solid white;
    border-radius: 5px;
}
.cheer-up{
    
    cursor: pointer;
    background-color: rgb(34, 34, 34);
}

.cheer-up > * {
    font-size: 1.2vh;
    text-decoration: underline;
    color: black;
}
