.about-item-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.about-item{
    display: flex;
    flex-direction: column;
    margin-left: -12px;
    margin-right: 12px;
}

.about-item > h3{
    text-align: center;
    font-style: bold;
    font-size: 2.4vh;
}

.about-item > h3 > span {
    background-color: rgb(110, 107, 107); 
}

.about-item > p {
    display: flex;
    text-align: center;
    font-size: 1.5vh;
    line-height: 1.5;
    
}
.preview-button-container{
    display: flex;
    width: 100%; 
    overflow:hidden;
}
.preview-button{
    animation: preview-button-container 2s;
    margin-top:0%;
    font-size: 1.7vh;
    text-align: center;
	display: inline-block;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	 border-radius: 5px;
    box-shadow: 0 .2em rgb(202, 201, 201); 
    cursor: pointer;
    text-decoration: none;
}

.preview-button:hover{
    cursor: pointer;
    box-shadow: none;
	position: relative;
	top: .3em;
}

.preview-button > span {
    color: black;
}

@keyframes preview-button-container {
    from {
        margin-left: -100%;
    }
  
    to {
        margin-left: 0%;

    }
  }
.preview-reverse-container {
    display: flex;
    overflow:hidden;
}
.reverse{
    animation: preview-reverse-container 2s;
    margin-top:0%;
}
@keyframes preview-reverse-container {
    from {
        margin-left: 100%;
    }
  
    to {
        margin-left: 0%;

    }
  }
.preview-image-container {
    width:100%;
    overflow:hidden;
}

.preview-image{
    animation: preview-image-container 2s;
    margin-top:0%;
    object-fit: cover;
    height: 450px;
    max-width: 100%; 
}

@keyframes preview-image-container {
    from {
        margin-left: -100%;
    }
  
    to {
        margin-left: 0%;

    }
  }

@media screen and (max-width: 760px) {
    .about-item{
        text-align: center;
        margin-left: -2px;
    margin-right: 6px;
    }
    .about-item > h3{
        line-height: 2.1;
        font-size: 2vh;
        
    } 
    .about-item > p{
        font-size: 1.3vh;
      
    } 
} 

@media screen and(max-width: 480px) {
    .about-item{
        text-align: center;
        margin: 5%;
    }
    .about-item > h3{
        font-size: 1.6vh;
        line-height: 1.2;
    } 
    .about-item > p{
        font-size: 0.9vh;
    } 

    
} 
