.about-item-container{
    display: flex;
    flex-direction: row;
}
.about-item{
    display: flex;
    flex-direction: column;
}

.about-item > h3{
    text-align: center;
    font-style: bold;
    font-size: 2.4vh;
}

.about-item > h3 > span {
    background-color: rgb(110, 107, 107); 
}

.about-item > p {
    display: flex;
    text-align: center;
    font-size: 1.5vh;
    line-height: 1.5;
    
}

.preview{
 
    background-color: rgb(62, 61, 61);
    
}


.preview-reverse{
    background-color: rgb(62, 61, 61);
}

.preview-image{
    height: 100%;
    max-width: 100%; 
    
}



@media screen and (max-width: 760px) {
    .about-item{
        text-align: center;
    }
    .about-item > h3{
        line-height: 2.1;
        font-size: 2vh;
        
    } 
    .about-item > p{
        font-size: 1.3vh;
      
    } 
} 

@media screen and(max-width: 480px) {
    .about-item{
        text-align: center;
    }
    .about-item > h3{
        font-size: 1.6vh;
        line-height: 1.2;
    } 
    .about-item > p{
        font-size: 0.9vh;
    } 
    
} 
