.from-to-container{
    display: flex; 
    flex-direction: column;
}

.edu-exp-container{
    display: flex; 
    justify-content: center;
}

.edu-container{
    display: flex;
    flex-direction: column;
    border: 0px solid white;
}


.edu-item{
 background-color: white;
 margin: 20px;
 max-width: auto;
}

.edu-contents{
    display: flex;
    flex-direction: row; 
}

.edu-desc{
    text-align: left;
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
}
.edu-desc > * {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.edu-desc > p{
    font-size: 1.5vh;
    font-weight: 200;
}
.edu-desc > p > strong{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 1.8vh; 
    font-weight: 700;
    /* width: 100%; */
}



.edu-desc > span{
    font-style: italic;
    font-size: 1.4vh;
    
}

.edu-time{
    text-align: right;
    float: right !important;
    margin-right: 5px;
    width: 100%;
    /* flex: 1; */
   
}

.edu-time > span {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 1vh;
}


.line{
    border-left: 3px solid white;
    border-radius: 10px;
}


@media screen and (max-width: 760px) {
    .edu-time{
        float: right;
        margin-right: 5px;
        width: 100%;
    }
    .edu-desc > h4{
        color: black;
        font-weight: bolder;
        font-size: 1.6vh;
    }
    
    .edu-desc > p{
        color: black;
        font-size: 1.3vh;
    
    }
    
    .edu-desc > span{
        color: black;
        font-style: italic;
        font-size: 1.1vh;
    }
    /* .edu-time{
        max-width: 100%;
        flex: 1;
       
    } */
    
    .edu-time > span {
        color: black;
        font-style: italic;
        font-size: 0.8vh;
    }
} 

@media screen and(max-width: 480px) {

    .edu-desc > h4{
        color: black;
        font-weight: bolder;
        font-size: 1.3vh;
    }
    
    .edu-desc > p{
        color: black;
        font-size: 0.9vh;
    
    }
    
    .edu-desc > span{
        color: black;
        font-style: italic;
        font-size: 0.7vh;
    }
    
    .edu-time{
        text-align: right;
        margin-right: 5px;
    }
    
    .edu-time > span {
        color: black;
        font-style: italic;
        font-size: 0.5vh;
    }

    
} 