.from-to-container{
    display: flex; 
    flex-direction: column;
    width: 100%;
}

.edu-exp-container{
    display: flex; 
    flex-direction: row;
    
}

.edu-container{
    display: flex;
    flex-direction: column;
    border: 0px solid white;
    border-radius: 20px;
}

.edu-item{
 background-color: white;
 margin: 10px;
 
}

.edu-contents{
    display: flex;
    flex-direction: row;
    
}

.edu-desc{
    text-align: left;
    margin-left: 5px;
    /* flex: 1; */
    
}

.edu-desc > h4{
    color: black;
    font-weight: bolder;
    font-size: 1.8vh;
}

.edu-desc > p{
    color: black;
    font-size: 1.5vh;

}

.edu-desc > span{
    color: black;
    font-style: italic;
    font-size: 1.4vh;
}

.edu-time{
    text-align: right;
    margin-right: 5px;
    /* width: 100%; */
    /* flex: 0; */
}

.edu-time > span {
    color: black;
    font-style: italic;
    font-size: 1vh;
}

/* .exp-container{
    display: flex;
    flex-direction: column;
} */

.line{
    border-left: 3px solid white;
    border-radius: 10px;
}


@media screen and (max-width: 760px) {
    .edu-desc > h4{
        color: black;
        font-weight: bolder;
        font-size: 1.6vh;
    }
    
    .edu-desc > p{
        color: black;
        font-size: 1.3vh;
    
    }
    
    .edu-desc > span{
        color: black;
        font-style: italic;
        font-size: 1.1vh;
    }
    
    .edu-time{
        text-align: right;
        margin-right: 5px;
        width: 80%;
    }
    
    .edu-time > span {
        color: black;
        font-style: italic;
        font-size: 0.8vh;
    }
} 

@media screen and(max-width: 480px) {
    .edu-desc > h4{
        color: black;
        font-weight: bolder;
        font-size: 1.3vh;
    }
    
    .edu-desc > p{
        color: black;
        font-size: 1vh;
    
    }
    
    .edu-desc > span{
        color: black;
        font-style: italic;
        font-size: 0.8vh;
    }
    
    .edu-time{
        text-align: right;
        margin-right: 5px;
        width: 80%;
    }
    
    .edu-time > span {
        color: black;
        font-style: italic;
        font-size: 0.6vh;
    }

    
} 