.skills-container {
  display: flex;
  flex-direction: column;
}

.languages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.languages > h5 {
  line-height: 1.7;
  color: #39ff14;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
}
