.resume-container {
  width: 600px;
  text-align: center;
  background-color: rgb(18, 18, 18);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.my-resume-container {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100%;
}
.my-resume {
  width: 100%;
}

.download-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 760px) {
  .resume-container {
    width: 80%;
  }
  .my-resume {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .resume-container {
    width: 90%;
  }
  .my-resume {
    max-width: 100%;
  }
}
