.resume-container{
    width: 700px;
    text-align: center;
    background-color: rgb(18, 18, 18);
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.my-resume-container{
    height: 420px;
    max-width: 100%;
    object-fit: fill;
}
.my-resume{
    height: 420px;
    max-width: 100%;
    object-fit: fill;
}


.download-button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 100%;
}
.download{
    width: 40%;
}

@media screen and (max-width: 760px){
    .resume-container{
        width: 60%;
    }
    .my-resume{
        width: 100%;
        object-fit: contain;
    }

}

@media screen and (max-width: 480px){
    .resume-container{
        width: 80%;
    }
    .my-resume{
        width: 100%;
        object-fit: contain;
    }
}