.resume-container{
    height: 900px;
    width: 750px;
    text-align: center;
    background-color: rgb(18, 18, 18);
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.my-resume{
    object-fit: contain;
  min-height: 100%;
}