.about-container {
  width: 700px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.about-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 100%;
}

.previous {
  width: 30%;
  text-align: center;
}

.next {
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .about-container {
    width: 70%;
  }
  .previous {
    width: 28%;
  }
  
  .next {
    width: 28%;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .about-container {
    width: 80%;
  }
  .previous {
    width: 25%;
  }
  
  .next {
    width: 25%;
  }
}
