.pictures-container{
    width: 700px;
    text-align: center;
    background-color: rgb(18, 18, 18);
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.my-picture-container{
    display: flex;
    flex-direction: row;
}

.my-picture{
    max-width: 35%;
    object-fit: cover ;
    background-position: center;
}

.desc-container{
    max-width: 65%;
    object-fit: cover;
}


@media screen and (max-width: 760px) {
    .pictures-container{
        width: 70%;
    }
    .my-picture{
        max-width: 35%;
        object-fit: cover ;
        background-position: center;
    }

} 

@media screen and(max-width: 480px) {
    .pictures-container{
        width: 80%;
    }
    .my-picture{
        max-width: 35%;
        object-fit: cover ;
        background-position: center;
    }
 
    
} 