.pictures-container{
    width: 700px;
    text-align: center;
    background-color: rgb(18, 18, 18);
    border: 5px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.my-picture{
    max-width: 100%;
    object-fit: contain;
}
.my-picture-container{
    width: 700px;
}

.desc-container{

}


@media screen and (max-width: 760px) {
    .pictures-container{
        width: 70%;
    }

} 

@media screen and(max-width: 480px) {
    .pictures-container{
        width: 60%;
    }
 
    
} 