.typewriter {
  font-size: 1.7vh;
  background-color: black;
  display: flex;
  font-family: "Press Start 2P", cursive;
  /* margin-top: 5px; */
}

.wave {
  margin-top: -20px;
  height: 4.5vh;
  width: 4.5vh;
}

@media screen and (max-width: 760px) {
  .typewriter {
    font-size: 1.5vh;
  }

  .wave {
    margin-top: -14px;
    height: 3.5vh;
    width: 3.5vh;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .typewriter {
    font-size: 1.4vh;
  }

  .wave {
    margin-top: -8px;
    height: 2.5vh;
    width: 2.5vh;
  }
}
