.intro-container {
	width: 400px;
	text-align: center;
	background-color: white;
	/* border: 0px solid white; */
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5%;
}

.avatar{
	padding: 10px;
}

.avatar-image{
	height: 120px;
	width: 120px;
	border-radius: 50%;
	object-fit: cover;
	z-index: 100;
}

.intro-container > p {
	font-size: 1.4vh;
	filter: contrast(200%);
	color: black;
	line-height: 1.9;
	font-family: Futura;
}

.intro-container > span {
	font-size: 2vh;
	font-style: italic;
	filter: contrast(200%);
	line-height: 1.5;
	color: black;
	font-family: Futura;
}

.intro-container > div > strong {
	font-family: Futura;
	font-size: 2.9vh;
	filter: contrast(200%);
	line-height: 1.9;
	color: black;
}

.intro-container > span {
  font-size: 2vh;
  font-style: italic;
 
}

.intro-container > span > i {
	color: black;
	font-size: 2vh;
	line-height: 1.9;
	font-family: Futura;
}

@media screen and (max-width: 760px) {
	.intro-container {
		width: 50%;
		text-align: center;
	}
	.intro-container > p {
		font-size: 1.3vh;
	}
	.intro-container > span {
		font-size: 1.5vh;
		font-style: italic;
	}

	.intro-container > div > strong {
		font-size: 2.5vh;
	}
}

@media screen and (min-width: 300px) and (max-width: 480px) {
	.intro-container {
		width: 60%;
		text-align: center;
	}
	.intro-container > p {
		font-size: 0.9vh;
	}
	.intro-container > span {
		font-size: 1.2vh;
		font-style: italic;
	}
  .intro-container > span > i {
    font-size: 1.2vh;
		font-style: italic;
  }

	.intro-container > div > strong {
		font-size: 2vh;
	}
}
