.intro-container {
  width: 500px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  gap: 50px;
}

.avatar {
  height: 130px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background-size: auto;
  /* margin-bottom: 10%; */
}
/* *, *::before, *::after {
	box-sizing:border-box;
  } */

.avatar-image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  object-fit: cover; 
   margin-top: 42px;
   
}

.contents {
  /* margin-top: 25%; */
  background-color: black;
}

.contents > * {
  background-color: black;
}

.contents > p {
  font-size: 1.8vh;
  filter: contrast(200%);
  color: white;
  font-family: Futura;
}

.contents > span {
  font-size: 2.3vh;
  font-style: italic;
  filter: contrast(200%);
  color: white;
  font-family: Futura;
}

.contents > div > strong {
  font-family: Futura;
  font-size: 3.5vh;
  line-height: 2;
  color: white;
}

.contents > span {
  font-size: 2vh;
}

.contents > span > i {
  font-size: 1.8vh;
  font-family: Futura;
}
.contents > span > i > img {
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 760px) {
  .intro-container {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
  }
  .avatar {
    /* height: 90px; */
  }

  .avatar-image {
    height: 110px;
    width: 110px;
    margin-top: 25px;
  }

  /* .contents {
    margin-top: 18%;
  } */
  .contents > p {
    font-size: 1.3vh;
  }
  .contents > span {
    font-size: 1.8vh;
  }
  .contents > span > i {
    font-size: 1.5vh;
  }

  .contents > div > strong {
    font-size: 2.8vh;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .intro-container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }

  .avatar {
    height: 65px;
  }

  .avatar-image {
    height: 90px;
    width: 90px;
    margin-top: 15px;
  }
  .contents > p {
    font-size: 0.9vh;
  }
  .contents > span {
    font-size: 1.6vh;
    font-style: italic;
  }
  .contents > span > i {
    font-size: 1.4vh;
  }

  .contents > div > strong {
    font-size: 2.6vh;
  }
}
