.logo-container {
  display: flex;
  justify-content: center;
}
.logo {
  height: 200px;
  width: 200px;
  filter: contrast(200%);
}

@media screen and (max-width: 760px) {
  .logo {
    height: 190px;
    width: 190px;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  .logo {
    height: 170px;
    width: 170px;
  }
}
