
.logo{ 
    height: 290px;
    width: 300px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;

}  

@media screen and (max-width: 760px){
    .logo{
        height: 250px;
        width: 260px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
    }
}

@media screen and (max-width: 480px){
    .logo{
        height: 220px;
        width: 230px;
        image-rendering: auto;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        image-rendering: -webkit-optimize-contrast;
    }
}
