/* *, */
/* *::before,
*::after {
  box-sizing: border-box;
} */

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.rainbow {
  position: relative;
  z-index: 0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: 90% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#ffffff, #ffffff);
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
   -moz-animation: rotate 2s infinite;
    -ms-animation: rotate 2s infinite;
     -o-animation:rotate 2s infinite;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 50%;
  }
}

.roat {
  margin-top: 3px;
  height: 125px;
  width: 125px; 
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  max-width: 100%;
  object-position: center;
  
}

@media screen and (max-width: 600px) {
  .roat {
    /* height: 110px;
    width: 110px; */

  }

  .rainbow{
    /* height: 115px;
    width: 115px; */

  }
}

@media screen  and (max-width: 480px) {
  .roat {
    height: 117px;
    width: 117px;
  }
  .rainbow{
    height: 123px;
    width: 123px;
  }
}
