body{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-image: url('./images/background.png');
    background-repeat: no-repeat center center cover;
    background-size: 100% auto;
    height: 100%; 
}
