@import url('http://fonts.googleapis.com/css?family=Press+Start+2P');

*{
    color: white;
    font-family: 'Press Start 2P', cursive !important;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(26, 26, 26) !important;

    }
.main{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



